  <link rel="stylesheet" href="/stylesheets/nav.css">
  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav class="navbar">
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
      <!-- USING CHECKBOX HACK -->
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>
      <!-- NAVIGATION MENUS -->
      <div class="menu">
        <li><a href="/burgers" <%- title === 'Burgers' ? 'class="active"' : '' %>
          >
          Burgers
        </a></li>
        <li><a href="/burgers/new" <%- title === 'Add Burger' ? 'class="active"' : '' %>
          >
          Add A Burger
        </a></li>
        <li><a href="/profiles">Afficionados</a></li>
      </div>
    </ul>
        <!-- LOGO -->
    <div class="logo">
      <img src="../images/logo-flat-trans.png" id="logo">
    </div>
    <div>
      <% if (user) { %>
        <a href="/auth/logout" class="logout">
          Sign Out
        </a>
      <% } else { %>
        <a href="/auth/google" class="siwg-link">
          <button type="submit" class="siwg">
            <img id="siwg-image" alt="Sign in with Google" />
          </button>
        </a>
      <% } %>   
    </div>
  </nav>
