
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.menu {
  flex-direction: row;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d482e2;
  color: #fff;
}
.nav-links a {
  color: #fff;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  z-index: 99999;
}
.menu li:hover {
  background-color: #d482e2;
  border-radius: 5px;
  transition: 0.3s ease;
}
.menu li {
  padding: 5px 14px;
}
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type="checkbox"] {
  display: none;
}
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
/* APPLYING MEDIA QUERIES */

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    top: 85px;
    background-color: #d482e2;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #d482e2;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
    font-size: 40px;
  }

  .logout {
    font-size: 18px;
    color: #FFFFFF;
    margin-right: 26px;
    margin-left: 10px;
  }
}
