html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  /* background-color: whitesmoke; */
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
  /* background: rgb(255,255,255); */
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 44%, rgba(227,232,233,1) 100%);
  /* height: 130vh; */
}

main {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}


#burgerlist {
  text-align: center;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#heading img {
  margin: 20px 20px 50px;
}

#heading h1 {
  margin: 30px auto;
}

h1 {
  font-size: 3.6rem;
}

img {
  max-width: 400px;
  border: 3px solid black;
  border-radius: 20px;
}

#logo {
  border: none;
}

/* nav > a {
  margin: 0rem 3rem;
  text-decoration: none;
  color: whitesmoke;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  width: 100%;
  margin: 0;

} */

h2 > a, h3 > a {
  color: black;
  text-decoration: none;
}

#addIMG {
  width: 400px;
  height: 268px;
}



.btn {
  margin: 1 rem 0;
}
table{
  width: 100%;
}
th {
  border-bottom: 2px solid black;
}

th h2 {
  font-size: 20px;
  font-weight: bold;
}

td {
  padding: 10px 18px 10px 18px;
  word-wrap: normal;
}

#burger-details {
  text-align: center;
}

#content-textarea {
  width: 300px;
  height: 50px;
}

#edit-delete {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* #reviewrow {
  max-width: 100%;
} */

#reviewcontent {
  width: 43%;
}

label {
  margin: 2px;
}

#burgersubmit {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* need media quuery at 1001 as well */

@media only screen and (max-width: 414px) {

  /* #burger-details {
    text-align: center;
    width: 550px;
  }  */
  #heading h1 {
    font-size: 2.4rem;
    font-weight: bold;
    margin: 30px auto 10px;
  }

  img {
    max-width: 100%;
  }

  #heading img {
    margin: 20px 20px 35px;
  }

  div {
    max-width: 75%;
  }

  #logo {
    margin-left: 10px;
    height: 75px;
    width: 200px;
    object-fit: scale-down;
    /* max-width: 100%; */
  }

  #foot, #to-new {
    font-size: 15px;
  }

}