<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/add.css" />
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
    <div id="heading">
      <h1>Add A Burger</h1>
      <img id="addIMG" src="../images/addIMG2.png">
    </div>
    <form id="new-form" action="/burgers" method="POST">
      <label>
        Name: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <br>
      <label>
        Restaurant Name: 
        <input type="text" name="restaurant" autocomplete="off">
      </label>
      <br>
      <label>
        Restaurant Location: 
        <input type="text" name="location" autocomplete="off">
      </label>
      <br>
      <label>Cook Temp:
        <select name="cook">
          <option value="Rare">Rare</option>
          <option value="Medium-Rare">Medium-Rare</option>
          <option value="Medium">Medium</option>
          <option value="Medium-Well">Medium-Well</option>
          <option value="Well-Done">Well-Done</option>
        </select>
      </label>
      <br>
      <label>
        Cheese?
        <input type="checkbox" name="cheese">
      </label>
      <br>
      <label id="burgersubmit">
        <button class="btn btn-outline-dark btn-lg" type="submit">Add Burger</button>
      </label>
    </form>
  <% } %>
  </main>

<%- include('../partials/footer') %>